---
repositoryUrl: https://github.com/opsworks/php-fpm_exporter
verifyConditions: ['@semantic-release/github']
prepare: []
publish: ['@semantic-release/github']
success: ['@semantic-release/github']
fail: ['@semantic-release/github']
