name: Release
on: [workflow_dispatch]
jobs:
  tag:
    name: Tag
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:

    - name: Setup Node.js for use with actions
      uses: actions/setup-node@v2.2.0

    - name: Checkout
      uses: actions/checkout@v2.3.4

    - name: Unshallow
      run: git fetch --prune --unshallow

    - name: Install semantic-release
      run: yarn global add --no-progress --non-interactive "semantic-release" "@semantic-release/exec"

    - name: Run semantic-release
      run: $(yarn global bin)/semantic-release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  release:
    runs-on: ubuntu-latest
    # if: startsWith(github.ref, 'refs/tags/')
    needs: [tag]
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4

      - name: Unshallow
        run: git fetch --prune --unshallow

      - name: Set up Go
        uses: actions/setup-go@v2.1.3
        with:
          go-version: ^1.15.0
        id: go

      - name: Login to DockerHub
        uses: docker/login-action@v1.9.0
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v2.6.0
        with:
          version: latest
          args: release --rm-dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
